
<body>
    <%- include('templates/navbar'); %>
    <link rel="stylesheet" type="text/css" href="/static/css/academico.css" /> 
<fieldset>
<h1>Formacion Academica</h1><br>
<h2>Tecnico En Programacion </h2>
<P> Servicio Nacional de aprendizaje(SENA)-2021</P>
<img src="/static/Sena.png" alt="">


</fieldset>

<fieldset>
    <h2>Bachiller academico</h1>
    <p>Colegio La Victoria I.E.D-2021</p>
    <img src="/static/Colegio.jpg" alt="">
</fieldset>
    


</body>
<%- include('templates/footer'); %>
</html>