<%- include('templates/navbar'); %>
<body>
    <link rel="stylesheet" type="text/css" href="/static/css/academico.css" /> 

    <fieldset>
        <h1>Informacion Personal</h1><br>
        <P>Nombre Completo: Sergio Andres Alonso Pulido</P>
        <p>Edad: 18 Años </p>
        <p>Lugar de nacimiento: Bogota DC</p>
        <h2>Informacion Complementaria</h2>
        <p>Habilidades desarrolladas</p>
        <p>Bases de datos: MYSQL SERVER - SQL SERVER</p>
        <p>Java - JavaScript - Angular - Php</p>
        
        </fieldset>
  


</body>
<%- include('templates/footer'); %>
</html>