
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

header{
    width: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

header .logo{
    height: 100%;
}

.logo img {
    width: 140px;
}

.logo1 img {
    width: 150px;
}

.container__nav{
    position: relative;
    height: 100%;    
}

nav{
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin: 0px 20px;
    list-style: none;
}

nav ul li a{
    color: #373737;
    font-size: 14px;
}

.select{
    background: #359ef9;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
}

/*cover*/

.cover{
 width: 100px;
 padding-bottom: 60px;
 margin: 100px 200px;
 font-family: 'Poppins', sans-serif;
}

.container__cover{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cover .container__info{
    max-width: 400px;
    max-height: 40px;
    z-index: 2;
}
.cover h1{
    max-width: 400px;
    font-size: 60px;
    font-weight: 900;
    color: #373737;
}

.cover h2{
    font-size: 60px;
    font-weight: 900;
    color: #359ef9;
    margin-top: -30PX;
   

}

.cover p{
    margin-top: 10px;
    color: #373737;
}

.cover input[type="button"]{
    padding: 10px 40px;
    margin-top:40px ;
    font-size: 18px;
    font-weight: 600 ;
    border: none;
    color: white;
    background-color: #0bdafe;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049; 
    cursor: pointer;
    transition: box-shadow 500ms;
   
}

.cover input[type="button"]:hover{
    box-shadow: 1px 1px 30px -5px #20202049;
}


.container__header{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
}

footer{
    width: 100%;
    padding: 50px;
    background-image: url(../background-footer.svg);
    background-size: cover;
    margin-top: 200px;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    height: auto;
    margin-top: 400px;
}

.box__footer{
 display: flex;
 flex-direction: column;
 padding: 40 px;

}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size:  10px;
   }

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;    
}
.box__footer a .fa {
    font-size: 20px;    
}


.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;   
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
