<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../../static/css/styles.css">
    <script src="https://kit.fontawesome.com/1ba4e57864.js" crossorigin="anonymous"></script>
</head>
<body>
    <footer>
        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="../../static/Logo_Personal.png" alt="">
                </div>
                <div class="terms">
                    <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id reiciendis molestiae dolorum architecto, voluptate ipsam illo excepturi vitae labore laborum est quaerat voluptates amet nostrum
                     dolores asperiores voluptatibus. Vero, sed.
                </p>
            </div>
                </div>
            <div class="box__footer">
                <h2>Soluciones</h2>
                <a href="#">Desarrollo Web</a>
               
            </div> 
            <div class="box__footer">
                <h2>Contacto</h2>
                <a href="#"><i class="fab fa-whatsapp-square"></i> Whatsapp</a>
                <a href=""><i class="fa fa-solid fa-phone"></i> Telefono:+57 3057124190</a>
                <a href="#"><i class="fa fa-solid fa-envelope"></i> Correo: sergioalonso0204@gmail.com</a>
               
            </div>   
            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="https://www.facebook.com/profile.php?id=100009118742968"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="https://www.instagram.com/sergiio_0204/"><i class="fab fa-instagram-square"></i> Instragram</a>
                <a href="https://twitter.com/SergioA72322762"><i class="fab fa-twitter-square"></i> Twitter</a>
               
            </div>  

            <div class="box__copyright">
                <hr>
                <p>Todos Los Derechos Son Reservados ©2022
                <b>Sergio Alonso</b>
                </p>
            </div>

        </div>

    </footer>

</body>
</html>