<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../../static/css/styles.css">
    <script src="./js/main.js"></script>
    <title>Portafolio</title>
</head>
<body>
    <header>
        <div class="container__header">
            <div class="logo">
                <img src="" alt="">
            </div>
            <div class="container__nav">
                <nav>
                    <ul>
                        <li><a href="#">Inicio</li></a>
                        <li><a href="#">Perfil</li></a>
                        <li><a href="#">Estudios</li></a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

<div class="container__all">
    <div class="container__info">
        <h1>BIENVENIDOS</h1>
        <h2>A MI PORTAFOLIO</h2>
        <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque est error quidem ipsam,
             nihil neque accusantium numquam minima perspiciatis officia,
             dolorem commodi accusamus quas modi dolore? Maxime nobis ab mollitia?</P>
            <Input type="button" value="Get Started">
        </div>
        <div class="container__vector">
            <img src="" alt="">
        </div>
</div>


</body>
</html>